{{ define "extra_head" }}
{{ $style := resources.Get "sass/contact-us.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
<div class="main-container">
    <div class="contact-and-join-container">
        <h1>Join Us</h1>

        <p>
            Complex Disease Epigenomics Group invites applications from
            motivated PhD Students, Graduate Research Assistants, and Postdocs.
            Join us to explore groundbreaking research in epigenetics and
            complex diseases. Ideal candidates should have a strong foundation
            in molecular biology and a passion for innovative research. 
            <br><br>
            Check out our latest opportunities below or contact us at:
            blahblah@exeter.ac.uk
        </p>

        <a href="/EpigenomicsLabWeb/opportunities">
            <button type="button">Find opportunities here</button>
        </a>

        <h3>PTY Students</h3>

        <p>
            Join our dynamic research team! We are seeking potential passionate
            Pty students to contribute to cutting-edge epigenetics projects.
            Ideal candidates should have a strong background in
            <i>something</i> and a keen interest in epigenomics. Gain
            invaluable experience in a collaborative environment. Apply now and
            shape the future of genetics!
        </p>

        <a href="/EpigenomicsLabWeb/opportunities">
            <button id="pty-button" type="button">Find pty opportunities here</button>
        </a>

        <h3>Collaborators</h3>

        <p>
            Complex Disease Epigenomics Group is seeking enthusiastic
            researchers to partner with us in advancing our understanding of
            epigenetics and complex diseases. We welcome innovative ideas and
            collaborative efforts to tackle significant challenges in the
            field. Join us in this exciting journey of discovery and impact!
            <br><br>
            Contact us at: blahblah@exeter.ac.uk
        </p>

    </div>
    <div class="address-container">
        {{ with resources.Get "images/RILD-building.jpg" }}
        <img src="{{ .RelPermalink }}">
            {{ end }}
        <h1>Our Address</h1>
        <p>
            RILD Building Level 3 South<br>
            Royal Deveon & Exeter Hospital<br>
            Barrack Rd<br>
            Exeter<br>
            EX2 5DW  UK<br>
            +44(0)1392-406779
        </p>
    </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ with resources.Get "js/pty_button.js" }}
<script type="application/javascript" src="{{ .Permalink }}"></script>
{{ end }}
{{ end }}
