@mixin navigation-text {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: white;
}

@mixin main-text {
    font-family: 'Outfit', sans-serif;
    font-size: 20px
}

@mixin large-main-text {
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

@mixin small-main-text {
    font-family: 'Outfit', sans-serif;
    font-size: 15px
}
