@mixin navigation-text {
    font-family: 'Outfit', sans-serif;
    /* sans-serif if outfit cannot be found*/
    font-size: 20px;
}

@mixin main-text {
    font-family: 'Outfit', sans-serif;
    font-size: 20px
}

@mixin small-main-text {
    font-family: 'Outfit', sans-serif;
    font-size: 10px
}
