@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/button.scss";
@import "partials/global-variables.scss";

.back-button {
    @include back_button($base_colour);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: flex-start;
    align-self: center;


    .blog-article-top {
        display: flex;
        flex-direction: column;
        width: 100%;

        h1 {
            @include main-text(3rem);
            margin-bottom: 0;
        }

        h3 {
            @include main-text(1.5rem);
            margin: 0;
        }

        p {
            @include main-text(2rem);
            margin: 0 0 2% 0;
        }

        .author-container {
            display: flex;
            align-items: center;
            margin-bottom: 2%;

            .author-image {
                height: 5vw;
                width: 5vw;
                aspect-ratio: 1/1;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .author-information {
                display: flex;
                flex-direction: column;

                p {
                    margin: 0 5%;
                }
            }
        }

        p {
            @include main-text(1rem);
        }

        .blog-image-container {
            display: flex;
            flex-direction: column;
            max-height: 80%;
            max-width: 80%;

            img {
                height: 100%;
                width: 100%;
                max-width: 50vh;
                max-height: 50vh;
            }
        }
    }

    .blog-article {
        @include main-text(1rem);

        img {
            width: 80%;
        }
    }
}

@include themify($themes) {
    .author-image .default_profile {
        filter: themed('svg');
    }
}

@media only screen and (max-width:$large_mobile_threshold_width) {

    .main-container .blog-article-top .author-container .author-image {
        height: 10vw;
        width: 10vw;
    }

}

@media only screen and (max-width:$mobile_threshold_width) {

    .main-container .blog-article-top .author-container .author-image {
        height: 15vw;
        width: 15vw;
    }

}
