@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/global-variables.scss";

.description-container {
    display: flex;
    flex-direction: column;
    background-color: $base_colour;
    margin: 2% 5%;
    border-radius: 20px;
    text-align: center;
    color: white;

    h1 {
        @include main-text(2rem);
        margin: 2%;
    }

    p {
        @include main-text(1rem);
        margin: 2%;
    }
}

.repository-grid {
    display: grid;
    margin: 0 5%;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    justify-items: center;
}

@media only screen and (max-width: $smaller_screen_threshold_width) {
    .repository-grid {
        grid-template-columns: 1fr 1fr;

        img {
            width: 45vw;
        }
    }
}

@media only screen and (max-width: $large_mobile_threshold_width) {
    .repository-grid {
        display: flex;
        flex-direction: column;

        img {
            width: 90vw;
        }
    }
}
