@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/button.scss";

.main-container {
    display: flex;
    margin-top: 2%;

    .contact-and-join-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 5%;
    }

    .address-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60%;
        margin-right: 5%;


        p {
            text-align: right;
        }

        img {
            border-radius: 2%;
            height: 50%;
        }
    }

    button {
        @include button($base_colour);
    }

    p {
        @include main-text(1rem);
    }

    h1,
    h3 {
        @include main-text(1.1rem);
    }

    h1 {
        @include main-text(2rem);
        margin: 0;
    }
}
