@import "theme.scss";
@import "font/text.scss";

.main-container {
    display: flex;
    margin-top: 2%;

    .contact-and-join-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 5%;
    }

    .address-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60%;
        margin-right: 5%;


        p {
            text-align: right;
        }

        img {
            border-radius: 2%;
            height: 50%;
        }
    }

    button {
        appearance: none;
        background-color: $base_colour;
        border: 0px;
        border-radius: 10px;
        box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        display: inline-block;
        @include main-text;
        padding: 5px 10px;
        margin-bottom: 5px;
        text-align: center;

    }

    p {
        @include small-main-text;
    }

    h1,
    h3 {
        @include main-text;
    }

    h1 {
        margin: 0;
        font-size: 2rem;
    }
}
