@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/global-variables.scss";

.main-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;

    h1 {
        align-self: flex-start;
        @include main-text(1rem);
        font-size: 3rem;
    }

    .funder-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 1%;
        row-gap: 1%;
        align-items: center;

        img {
            height: 100%;
            width: 100%;
        }
    }

}

@media only screen and (max-width:$smaller_screen_threshold_width) {
    .main-container {
        .funder-grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media only screen and (max-width:$tablet_threshold_width) {
    .main-container {
        .funder-grid {
            grid-template-columns: 1fr 1fr;
            /* Fuck knows why this is required without it, the footer */
            /* can overlap with the grid on some devices */
            margin-bottom: 10vh;
        }
    }
}

@media only screen and (max-width:$mobile_threshold_width) {
    .main-container {
        .funder-grid {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
        }
    }
}
