ul {
    list-style-type: none;
    top: 0;
    margin: auto;
    padding: 0px;
    position: sticky;
    overflow: hidden;
    background-color: #003C3C;
}

img {
    height: 90px;
    float: left;
}

li {
    float: left;
}

li:last-child {
    float: right;
}


li a {
    display: block;
    color: #FFFFFF;
    font-weight: bold;
    padding: 34.8px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    background-color: #001A1A;
}
