@import "colours/light-mode";
@import "font/text.scss";

/* ------------------- */
/* MAIN NAVIGATION BAR */
/* ------------------- */
.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $base_green;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8%;
}

.inner-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: $base_green;
}


a,
.dropdown {
    background-color: $base_green;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    @include navigation-text;
}

.inner-navbar a {
    padding: 5px 15px;
    margin: 5px 25px;
}

#contact-us {
    padding: 5px 15px;
    margin: 5px 10px;
}

/*  Get dropdown menu to look like the anchors */
.dropdown {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

/* ---------------------- */
/* RESEARCH DROPDOWN MENU */
/* ---------------------- */
.dropdown-content {
    display: none;
    position: absolute;

    /* ensures centering of dropdown menu, though very hacky */
    left: -42%;

    top: 100%;
    background-color: $base_green;
    border-radius: 0px 0px 10px 10px;
}


.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* ----- */
/* HOVER */
/* ----- */

/* logo is an anchor, but we don't want it to have hover properties */
a:not(#logo):hover {
    background-color: $dark_green;
    border-radius: 5px;
}
