@import "colours/light-mode";

.main-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $base_green;
    position: sticky;
    top: 0;
    width: 100%;
    height: 8%;
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
}

.inner-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: $base_green;
}


a {
    background-color: $base_green;
    color: white;
    font-weight: bold;

    /* required to fit the logo image */
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.inner-navbar a {
    padding: 5px 15px;
    margin: 5px 25px;
}

#contact-us {
    padding: 5px 15px;
    margin: 5px 10px;
}

/* If the logo has hover properties it looks awful */
a:not(#logo):hover {
    background-color: $dark_green;
    border-radius: 5px;
}
