@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/global-variables.scss";

#team-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100vw;
    }
}

/* ----- */
/* ABOUT */
/* ----- */
#about-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100px;

    }

    p {
        @include main-text(1.2rem);
        text-align: center;

    }
}


@include themify($themes) {
    #about-container p {
        color: themed('text');
        background-color: themed('bg');
    }
}

@media only screen and (max-width:$tablet_threshold_width) {
    #about-container {
        padding: 3%;

        img {
            display: none;
        }

        p {
            margin: 0;
        }
    }
}

/* --------- */
/* SUB TEAMS */
/* --------- */
.sub-team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $base_colour;

    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .sub-team-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include navigation-text(1.2rem);
        color: white;
        width: 50%;
        opacity: 0;
        transform: translateY(20px);

        h2,
        p {
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
            text-align: center;
        }

        h2 {
            opacity: 0;
            transform: translateY(-10px);
        }

        p {
            opacity: 0;
            transform: translateY(10px);
        }

        &.show {
            opacity: 1;

            h2 {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.3s;
            }

            p {
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0.6s;
            }
        }
    }

    .sub-team-photo {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        opacity: 0;
        transition: opacity 1s ease-out, transform 1s ease-out;

        &:nth-of-type(even) {
            transform: translateX(20px);

        }

        &:nth-of-type(odd) {
            transform: translateX(-20px);

        }

        &.show {
            opacity: 1;
            transform: translateY(0);
        }

        img {
            width: 100%
        }
    }
}


@media only screen and (max-width:$tablet_threshold_width) {
    .sub-team-container {
        flex-direction: column !important;

        .sub-team-info {
            width: 90%;

            p {
                margin-bottom: 5vh;
            }
        }

        .sub-team-photo {
            width: 100%;
        }
    }
}
