@import "colours/light-mode.scss";
@import "font/text.scss";

.main-container {
    display: flex;
    flex: 1;
}

.abstract-data-container {
    width: 50%;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-around;

    .section {
        @include small-main-text;

        h1 {
            @include large-main-text;
            text-align: center;
        }

        .geo_grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;

            .geo_item {
                display: flex;
                border-radius: 10%;
                background-color: $base_green;
                padding: 10px;

                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: white;
                }
            }

        }
    }
}

.publication-iframe-container {
    width: 50%;
    display: flex;
    align-items: center;

    iframe {
        width: 98%;
        height: 98%;
    }
}
