@import "partials/theme.scss";
@import "partials/text.scss";
@import "partials/filter_boxes.scss";


.opportunities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 5px 5px 0px 30.5%;

    h1.page-name {
        align-self: flex-start;
        margin-left: 5%;
        @include main-text(2rem);
    }

    .opportunity,
    .zero_opportunities {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px 0px 10px 0px;
        cursor: default;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);

        .opportunity-header {
            background-image: linear-gradient(70deg, $base_colour, $light_accent_colour);
            width: 150px;
            height: 4px;
        }

        .title {
            @include bold-main-text(1.75rem);
            margin-left: 10px;

        }

        .info {
            @include main-text(1rem);
            margin: 0.5% 2%;

        }
    }

    .zero_opportunities {
        display: none;
    }
}
