@import "colours/light-mode";
@import "font/text.scss";

.main-container {
    display: flex;
}

/* -------------- */
/* FILTERING AREA */
/* -------------- */
.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 5px;
    max-height: 40vh;
    background-color: $base_green;
    color: white;
    @include main-text;
}

.filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
}

.filter-grid button {
    appearance: none;
    background-color: $dark_green;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    @include main-text;
    padding: 5px 15px;
    text-align: center;
}


/* ---------------- */
/* GRID OF PROFILES */
/* ---------------- */
.people-photo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%
}

.person-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    margin: 2px;
    @include small-main-text;
}

.person-profile:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
}

.person-profile img {
    object-fit: cover;
    height: 90%;
    width: 70%;
    border-radius: 50%;
}
