// Light mode colours using exeter website as starting point

/* exeter colours for backgrounds, divs etc. */
$base_green: #003C3C;
$light_green: #00DEA9;
$dark_green: #002727;

/* exeter colours for text */
$text_green: #007D69;
$text_light_green: #00DDA5;
$text_dark_green: #003333;
