<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    <!--Put any additional head items (like style sheets) in this block-->
    {{ block "extra_head" . }}
    {{ end }}
</head>

<body>
    {{ partial "partials/header.html" }}

    <div class="content">
        {{ block "main" . }}
        This is placeholder text
        {{ end }}
    </div>

    {{ partial "partials/footer.html"}}

</body>

</html>
