<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="Epigenetics, Epigenomics, Lab, Exeter, Alzheimers, Schizophrenia, ADHD, Autism, Brain, Cancer, DNA, Methylation">
    <meta name="description" content="The home of epigentics research in Exeter UK">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi">
    <link rel="icon" type="image/x-icon" href="/EpigenomicsLabWeb/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{ partial "partials/addSass.html" (dict "style" "sass/main.scss") }}
    {{ partial "partials/addSass.html" (dict "style" "sass/header.scss") }}
    {{ partial "partials/addSass.html" (dict "style" "sass/footer.scss") }}

    <title>
        {{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}
    </title>
    <!--Put any additional head items (like style sheets) in this block-->
    {{ block "extra_head" . }}
    {{ end }}
</head>

<body style="visibility: hidden;">
    {{ partial "partials/header.html" }}

    <div class="content">
        <!--Put your main web content in this block-->
        {{ block "main" . }}
        {{ end }}
    </div>

    {{ partial "partials/footer.html"}}

    <!--Put any js scripts in this block-->
    {{ block "scripts" . }}
    {{ end }}

    {{ partial "partials/addJS.html" (dict "jsfile" "js/dark-mode.js") }}
    {{ partial "partials/addJS.html" (dict "jsfile" "js/sub_navigation.js") }}
    {{ partial "partials/addJS.html" (dict "jsfile" "js/mobile-navbar.js") }}
</body>

</html>
