{{ $style := resources.Get "sass/header.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">

<div class="main-navbar">
    {{ $logo_image := resources.Get "images/logo.png" }}
    <a id="logo" href="/EpigenomicsLabWeb">
        <img src="{{ $logo_image.RelPermalink }}">
    </a>
    <div class="inner-navbar">
        <div class="dropdown">People
            <div class="dropdown-content">
                <a href="/EpigenomicsLabWeb/people">People</a>
                <a href="/EpigenomicsLabWeb/alumni">Alumni</a>
            </div>
        </div>
        <div class="dropdown">Research
            <div class="dropdown-content">
                <a href="/EpigenomicsLabWeb/publications">Publications</a>
                <a href="/EpigenomicsLabWeb/code">Code</a>
                <a href="/EpigenomicsLabWeb/projects">Projects</a>
                <a href="/EpigenomicsLabWeb/funders">Funders</a>
            </div>
        </div>
        <a href="/EpigenomicsLabWeb/collaborators">Collaborators</a>
        <a href="/EpigenomicsLabWeb/events">Events</a>
    </div>

    <a id="contact-us" href="/EpigenomicsLabWeb/contact-us">Contact Us</a>
</div>
