{{ $github_logo := resources.Get "/svgs/github_logo_black.svg"}}
{{ $X_logo := resources.Get "/svgs/X_logo.svg"}}
{{ $linkedin_logo := resources.Get "/svgs/LinkedIn_logo.svg"}}
{{ $orcid_logo := resources.Get "/svgs/orcid_logo.svg"}}
{{ $email := resources.Get "/svgs/email.svg"}}
{{ $search_icon := resources.Get "/svgs/search_icon.svg" }}

<!-- Parse people data -->
{{ $people_data := dict }}
{{ $path := "data/people.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $people_data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

{{ $is_alumni_page := .Params.alumni }}

<div class="main-container">

    <div class="filter-container">
        <h1 id="filter-text">Filter</h1>
        <div class="filter-grid">
            <button type="button" id="all">All</button>
            <button type="button" id="pi">PI</button>
            <button type="button" id="lecturer">Lecturer</button>
            <button type="button" id="postdoc">Postdoc</button>
            <button type="button" id="phd">PhD</button>
            <button type="button" id="research-fellow">Research Fellow</button>
            <button type="button" id="lab-technician">Lab Technician</button>
            <button type="button" id="research-assistant">Research Assistant</button>
            <button type="button" id="gla">GLA</button>
            <button type="button" id="gra">GRA</button>
            <button type="button" id="pty">PTY Student</button>
        </div>
        <div class="search-box">
            <button class="btn-search">
                <img height="50%" src="{{ $search_icon.RelPermalink }}">
            </button>
            <input type="text" class="input-search" id="searchInput" placeholder="Type to search...">
        </div>
    </div>


    <div class="people-photo-grid">
        {{ range $people_data }}
        {{ $author_pattern := replace .name " " "-" }}
        {{ $author_pattern = replace $author_pattern "\u2019" "" | lower }}
        {{ $author_picture_pattern := printf "images/profile_pictures/%s*" $author_pattern }}
        {{ $profile_picture := resources.GetMatch $author_picture_pattern}}
        {{ $default_picture_identifier := "" }}
        {{ if not $profile_picture }}
            {{ $profile_picture = resources.Get "/images/profile_pictures/default-profile.svg" }}
            {{ $default_picture_identifier = "default_profile" }}
        {{ end }}
        {{ if eq .alumni $is_alumni_page }}
        <div id='{{ replace .name " " "" | lower}}' class="person-profile {{ .theme | lower }} {{ .position | lower }}">
            {{ if .website }}
            <a class="profile_picture_container" href="{{ .website }}" target="_blank">
            {{ else }}
            <a class="profile_picture_container" href="https://experts.exeter.ac.uk/{{ .biosketch }}" target="_blank">
            {{ end }}
                {{ with resources.Get $profile_picture }}
                    <img class="profile_picture {{ $default_picture_identifier }}" src="{{ .RelPermalink }}"></img>
                {{ else }}
                    {{ errorf "Unable to get global resource %q" $profile_picture }}
                {{ end }}
            </a>
            <div class="link-tree">
                {{ if .github }}
                <a href="https://github.com/{{ .github}}" target="_blank">
                    <img src="{{ $github_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .x }}
                <a href="https://x.com/{{ .x }}" target="_blank">
                    <img src="{{ $X_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .linkedin }}
                <a href="https://linkedin.com/in/{{ .linkedin }}" target="_blank">
                    <img src="{{ $linkedin_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .orcid }}
                <a href="https://orcid.org/{{ .orcid }}" target="_blank">
                    <img src="{{ $orcid_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .email }}
                <a href="mailto:{{ .email }}" target="_blank">
                    <img src="{{ $email.RelPermalink }}">
                </a>
                {{ end }}
            </div>
            {{ if .website }}
                <a class="name-container" href="{{ .website }}" target="_blank">
            {{ else }}
            <a class="name-container" href="https://experts.exeter.ac.uk/{{ .biosketch }}" target="_blank">
            {{ end }}
                <h1>{{ .name }}</h1>
            </a>
        </div>
        {{ end }}
        {{ end}}
    </div>

</div>

