{{ define "extra_head" }}
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
<main class="text-centre">
    <h1>404 Not Found</h1>
    <p>The page you are looking for doesn't exist, sorry.</p>
    <p>
        You will be automatically redirected in <span id="seconds">9</span>
        seconds.
    </p>
    <a href="javascript:window.history.back()">
        <button class="previous-page-button" type="button">Back</button>
    </a>
    <script>
        var seconds = 8;
        var interval;

        function redirect() {
            document.location.href = window.history.back();
        }

        function updateSecs() {
            document.getElementById("seconds").innerHTML = seconds;
            seconds--;
            // This is so that the timer shows 0 seconds
            if (seconds < 0) {
                clearInterval(interval);
                redirect();
            }
        }

        function countdownTimer() {
            interval = setInterval(function () {
                updateSecs()
            }, 1000);
        }

        countdownTimer();
    </script>
</main>
{{ end }}


