{{ define "extra_head" }}
{{ $style := resources.Get "sass/blog.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
{{ $word_count := countwords .Content }}
{{ $read_time := div $word_count 200 | math.Round }}

<!-- Assumes author's profile picture has filename ~= person name -->
{{ $author_no_spaces := replace .Params.author " " "" }}
{{ $author_picture_pattern := printf "images/profile_pictures/%s*" $author_no_spaces }}

<div class="back-button">
    <a href="/EpigenomicsLabWeb/events">
        ←
        Back
    </a>
</div>

<div class="main-container">
   <div class="blog-article-top">
        <h1>{{ .Title }}</h1>
        <h3>{{ .Description }}</h3>
        <p> ({{ $word_count }} words, {{ $read_time }} - {{ add $read_time 1}} minute read)</p>
        <div class="author-container">
            <div class="author-image">
                {{ with resources.GetMatch $author_picture_pattern }}
                <img src="{{ .RelPermalink }}"></img>
                {{ end }}
            </div>
            <div class="author-information">
                <p>Posted by {{ .Params.author }}</p>
                <p>on {{ time.Format "January 2, 2006" .Date }}</p>
            </div>
        </div>
        <div class="blog-image-container">
            {{ with resources.Get .Params.image }}
            <img src="{{ .RelPermalink }}"></img>
            {{ end }}
        </div>

    </div> 

    <div class="blog-article">
        {{ .Content }}

    </div>
</div>
{{ end }}
