{{ define "extra_head" }}
{{ $style := resources.Get "sass/collaborators.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
{{ $tech_background := resources.Get "images/tech-background.svg" }}

{{ $collaborators_data := dict }}
{{ $path := "data/collaborators.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $collaborators_data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

<div id="slideshow" class="slideshow-container">
    {{ range $collaborators_data }}
        {{ if .featured }}
        <div class="slide fade-in">
            <div class="image-container">
            {{ with resources.Get .image }}
            <img src="{{ .RelPermalink }}"></img>
            {{ end }}
            </div>
            <div class="description">
                <h1>{{ .name }}</h1>
                <p>{{ .description }}</p>
            </div>
        </div>
        {{ end }}
    {{ end }}
    <div class="slideshow-navigation-container">
    {{ $index := 1}}
    {{ range $collaborators_data }}
        {{ if .featured }}
            <span class="dot-indicator" onclick="switchSlide({{ $index }})"></span>
            {{ $index = add $index 1 }}
        {{ end }}
    {{ end }}
    </div>
</div>
{{ end }}

{{ define "scripts" }}
{{ with resources.Get "js/collaborator_slideshow.js" }}
<script type="application/javascript" src="{{ .Permalink }}"></script>
{{ end }}
{{ end }}
