{{ define "extra_head" }}
{{ $style := resources.Get "sass/people.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}

{{ define "main" }}
<div class="main-container">

    <div class="filter-container">
        <h1>Filter</h1>
        <div class="filter-grid">
            <button type="button">GRA</button>
            <button type="button">PI</button>
            <button type="button">PhD</button>
            <button type="button">Postdoc</button>
        </div>

    </div>
    <div class="people-photo-grid">

        {{ range .Pages }}
        <div class="person-profile {{ .Params.team }} {{ .Params.position }}">
            {{ with resources.Get .Params.image }}
            <img src="{{ .RelPermalink }}"></img>
            {{ end }}

            <h1>{{ .Params.name }}</h1>
        </div>
        {{ end}}
    </div>
</div>
{{ end }}
