{{ define "extra_head" }}
{{ $style := resources.Get "sass/people.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}



{{ define "main" }}
{{ $github_logo := resources.Get "/svgs/github_logo_black.svg"}}
{{ $X_logo := resources.Get "/svgs/X_logo.svg"}}
{{ $linkedin_logo := resources.Get "/svgs/LinkedIn_logo.svg"}}
{{ $orcid_logo := resources.Get "/svgs/orcid_logo.svg"}}
{{ $email := resources.Get "/svgs/email.svg"}}

<div class="main-container">

    <div class="filter-container">
        <h1>Filter</h1>
        <div class="filter-grid">
            <button type="button">GRA</button>
            <button type="button">PI</button>
            <button type="button">PhD</button>
            <button type="button">Postdoc</button>
        </div>
    </div>

    <div class="people-photo-grid">
        {{ range .Pages }}
        <div class="person-profile {{ .Params.team }} {{ .Params.position }}">
            {{ with resources.Get .Params.image }}
            <img class="profile_picture" src="{{ .RelPermalink }}"></img>
            {{ end }}
            <div class="link-tree">
                {{ if .Params.linktree.github}}
                <a href="https://github.com/{{ .Params.linktree.github}}" target="_blank">
                    <img src="{{ $github_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .Params.linktree.x }}
                <a href="#">
                    <img src="{{ $X_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .Params.linktree.linkedin }}
                <a href="https://linkedin.com/in/{{ .Params.linktree.linkedin }}" target="_blank">
                    <img src="{{ $linkedin_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .Params.linktree.orcid }}
                <a href="#">
                    <img src="{{ $orcid_logo.RelPermalink }}">
                </a>
                {{ end }}
                {{ if .Params.linktree.email }}
                <a href="mailto:{{ .Params.linktree.email }}" target="_blank">
                    <img src="{{ $email.RelPermalink }}">
                </a>
                {{ end }}
            </div>
            <div class="name">
                <h1>{{ .Params.name }}</h1>
            </div>
        </div>
        {{ end}}
    </div>

</div>
{{ end }}
