{{ define "extra_head" }}
{{ partial "partials/addSass.html" (dict "style" "sass/projectsHome.scss") }}
{{ end }}

{{ define "main" }}
<div class="main-container">
    <div class="projects-container">
        <h1>Projects</h1>
        <a href="ourprojects">
            {{ with resources.Get "/images/our-projects-background.jpg" }}
                <img src="{{ .RelPermalink }}"/>
            {{ end }}
        </a>
    </div>
    <div class="projects-container">
        <h1>PhD Projects</h1>
        <a href="phdprojects">
        {{ with resources.Get "/images/phd-projects-background.jpg" }}
            <img src="{{ .RelPermalink }}"/>
        {{ end }}
        </a>
    </div>
    <div class="projects-container">
        <h1>PTY Projects</h1>
        <a href="ptyprojects">
            {{ with resources.Get "/images/pty-projects-background.jpg" }}
                <img src="{{ .RelPermalink }}"/>
            {{ end }}
        </a>
    </div>
</div>
<div class="caption">
    <p>Woman carrying white and green textbook by @javatrueba on <a href="https://unsplash.com/photos/woman-carrying-white-and-green-textbook-iQPr1XkF5F0?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash">unsplash</a></p>
</div>
{{ end }}
