{{ define "extra_head" }}
{{ partial "partials/addSass.html" (dict "style" "sass/reproducibility.scss") }}
{{ end }}

{{ define "main" }}
{{ $repo_data := dict }}
{{ $path := "data/repositories.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $repo_data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

{{ $shiny_data := dict }}
{{ $path := "data/shiny-apps.json" }}
{{ with resources.Get $path }}
  {{ with . | transform.Unmarshal }}
    {{ $shiny_data = . }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get global resource %q" $path }}
{{ end }}

<div class="description-container">
    <h1>Our Code Repositories</h1>
    <p>
        Here at the complex disease epigenetics group, we believe that our code
        should be easily accessible to aid in reproducing the results in our
        research.<br>
        As such, we share our published code via GitHub. This page contains
        our featured repositories.
    </p>
</div>
<div class="link-grid">
    {{ range $repo_data }}
    <a href="https://github.com/{{ .username }}/{{ .repo }}" target="_blank" >
        <img class="repository" src="https://github-readme-stats.vercel.app/api/pin/?username={{ .username }}&repo={{ .repo }}&theme=default">
    </a>
    {{ end }}
</div>
<div class="description-container">
    <h1>Our Shiny Apps</h1>
    <p>
        We believe that reproducibility and accessibility are crucial for
        scientific progress. <br>
        To that end, we develop and share interactive R
        Shiny apps to make our analyses and visualizations readily available to
        the research community.
    </p>
</div>
<div class="link-grid">
    {{ range $shiny_data }}
    <a class="shiny-app" href="{{.link}}">
            <h3>{{.title}}</h3>
            <p>{{.description}}</p>
    </a>
    {{ end }}
</div>
{{ end }}

{{ define "scripts" }}
{{ partial "partials/addJS.html" (dict "jsfile" "js/repositories-darkmode.js") }}
{{ end }}
